---
interface Props {
  options: {
    name: string;
    link: string;
    style: string;
  }[];
  style: string;
  globalListStyle: string;
  [key: string]: any;
}

const { options, style, globalListStyle, ...rest } = Astro.props;
---
<ul 
  class={style}
  {...rest}
>
  {
    options.map((option) => {
      return (
        <li 
          class={option.style + (option.style ? ' ': '') + globalListStyle} 
          id={`${option.name}-menu-li`}
        >
          <a href={option.link} id={`${option.name}-menu-a`}>
            {option.name}
          </a>
        </li>
      );
    })
  }
</ul>