---
import StyledSVG from "@components/StyledSVG.astro";
import { parse } from 'node-html-parser';
import { Code } from "astro:components";

interface Props {
  code: string,
  language: string,
  filename: string,
  annotations?: string
}

const {code, language, filename, annotations} = Astro.props;
---
<style>
  .astro-code-content {
    @apply my-4;
    .astro-code-filename {
      @apply text-sm font-bold text-background mx-auto;
      @apply flex flex-row gap-1 items-center w-full;
      @apply mr-auto bg-foreground px-4 py-1 rounded-t-md;
    }
    .astro-code-button {
      @apply w-2 h-2 rounded-full;
      @apply bg-background;
    }
  }
</style>

<script define:vars={{ code, filename, annotations }}>
  const copyContent = async (text) => {
    try {
      await navigator.clipboard.writeText(text);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
  document.addEventListener('DOMContentLoaded', () => {
    const appendCommentTooltip = (lineElement, text, prefix) => {
        const annotationOverlay = document.createElement('div');
        annotationOverlay.classList.add(...[
          'absolute', 'h-fit', 'w-fit',
          'rounded-md', 'p-2', 'text-xs',
          'transition-opacity', 'duration-200', 'ease-in-out',
          'bg-background', 'bg-opacity-75', 'opacity-0',
        ]);
        annotationOverlay.setAttribute('role', 'tooltip')
        if (lineElement.lastChild.getAttribute('role') !== 'tooltip') {
          lineElement.appendChild(annotationOverlay);
          const lineBoundingRect = lineElement.getBoundingClientRect();
          const relativeVerticalPosition = lineBoundingRect.y - codeLinesWrapper.getBoundingClientRect().y;
          const annotationTop = relativeVerticalPosition + lineBoundingRect.height + annotationOverlay.offsetHeight / 4.0;
          const annotationLeft = lineBoundingRect.width;
          annotationOverlay.style.left = `calc(${annotationLeft}px + 1rem)`;
          annotationOverlay.style.top = `${annotationTop}px`;
          annotationOverlay.innerText = `${prefix}: ${text}`;
          lineElement.onmouseenter = () => {
            annotationOverlay.style.opacity = '1';
          };
          lineElement.onmouseleave = () => {
            annotationOverlay.style.opacity = '0';
          };
        };
    };
    const insertSingleLineComment = (line, text) => {
      const annotatedLine = codeLines[parseInt(line)-1];
      annotatedLine.firstChild.classList.add('font-bold');
      annotatedLine.firstChild.classList.remove('opacity-25')
      annotatedLine.firstChild.innerText = `!${annotatedLine.firstChild.innerText.trim().padStart(3, ' ')}`;
      appendCommentTooltip(annotatedLine, text, '!');
    };
    const insertMultiLineComment = (lines, text) => {
      const [start, end] = lines.split('-');
      codeLines
        .slice(
          parseInt(start) - 1,
          parseInt(end)
        )
        .forEach((line, index) => {
          line.firstChild.classList.remove('opacity-25');
          line.firstChild.classList.add(...['font-bold', 'border-r-[1px]', 'pr-1', '-mr-1']);
          if (index == 0) {
            line.firstChild.innerText = `{${line.firstChild.innerText.trim().padStart(3, ' ')}`;
          }
          if (index == parseInt(end) - parseInt(start)) {
            line.firstChild.innerText = `}${line.firstChild.innerText.trim().padStart(3, ' ')}`;
          }
          appendCommentTooltip(line, text, '{}');
        })
    };

    document.getElementsByClassName('legend')[0].style.backgroundColor =
      document
        .getElementsByClassName(`astro-code`)[0]
        .style.backgroundColor;

    const codeLinesWrapper = document
      .getElementById(`astro-code-${filename}`)
      .getElementsByTagName('pre')
      .item(0);
    codeLinesWrapper.classList.add(...['rounded-b-md', 'text-sm', 'pb-4', 'px-2']);
    const copyButtons = document.getElementById(`copy-${filename}`);
    copyButtons.addEventListener('click', () => {
      copyContent(
        code
          .split('\n')
          .map((line) => line.slice(4))
          .join('\n')
      );
    });
    const codeLines = Array.from(codeLinesWrapper
      .getElementsByTagName('span'))
      .filter((span) => span.classList.contains('line'));

    let foundLinesIndex = 1;
    [...codeLines].forEach((line) => {
      line.classList.add('hover:font-bold');
      const numberSpan = document.createElement('span');
      numberSpan.classList.add(...['text-glow', 'opacity-50']);
      numberSpan.innerText = `${foundLinesIndex.toString().padStart(4, ' ')}`;
      line.insertBefore(
        numberSpan,
        line.firstChild
      );
      foundLinesIndex++;
    });

    annotations && annotations
      .split('\n')
      .filter((annotation) => annotation.trim() !== '')
      .forEach((annotation) => {
        const [locations, comments] = annotation.split(':');
        if (locations.includes('-')) insertMultiLineComment(locations, comments)
        else insertSingleLineComment(locations, comments);
      });
  });
</script>

<div
  class="astro-code-content relative flex flex-col"
  id={`astro-code-${filename}`}
>
  <div class="astro-code-filename flex gap-1">
    <div class="astro-code-button"/>
    <div class="astro-code-button"/>
    <span class="mx-auto">{filename}</span>
  </div>
  <span class="text-right text-xs font-code w-full legend pr-2 pb-1 pt-2 text-glow text-opacity-50">
    ! - Single line comment
    /
    {"{}"}  - Multi line comment
  </span>
  <Code 
    code={code}
    lang={language}
    theme="github-dark"
  />
  <div
    class="absolute bottom-4 right-4 cursor-pointer font-bold text-glow hover:scale-110"
    id={`copy-${filename}`}
  >
    <StyledSVG
      src="images/copy"
      alt="Copy to clipboard"
      class="h-6 w-6 text-glow"
    />
  </div>
<div>