---
import { Code } from "astro:components";
import StyledSVG from "@components/StyledSVG.astro";

const {code, language, filename} = Astro.props;
---
<style>
  .astro-code-content {
    @apply my-4;
    .astro-code-filename {
      @apply text-sm font-bold text-background mx-auto;
      @apply flex flex-row gap-1 items-center w-full;
      @apply mr-auto bg-foreground px-4 py-1 rounded-t-md;
    }
    .astro-code-button {
      @apply w-2 h-2 rounded-full;
      @apply bg-background;
    }
  }
</style>

<script define:vars={{ code, filename }}>
  document.addEventListener('DOMContentLoaded', () => {
    const copyContent = async (text) => {
      try {
        await navigator.clipboard.writeText(text);
        console.log('Content copied to clipboard');
      } catch (err) {
        console.error('Failed to copy: ', err);
      }
    }
    const copyButtons = document.getElementById(`copy-${filename}`);
    copyButtons.addEventListener('click', () => {
      copyContent(code.split('\n').map((line) => line.slice(4)).join('\n'));
    });
  });
</script>

<div class="astro-code-content relative">
  <div class="astro-code-filename flex gap-1">
    <div class="astro-code-button"/>
    <div class="astro-code-button"/>
    <span class="mx-auto">{filename}</span>
  </div>
  <Code 
    code={code}
    lang={language}
    theme="github-dark"
  />
  <div
    class="absolute bottom-4 right-4 cursor-pointer font-bold text-glow hover:scale-110"
    id={`copy-${filename}`}
  >
    <StyledSVG
      src="images/copy"
      alt="Copy to clipboard"
      class="h-6 w-6 text-glow"
    />
  </div>
<div>