---
import StyledSVG from "./StyledSVG.astro";

interface Props {
  techs: string
  label: string
}

const { techs, label } = Astro.props;
---
<span class="flex flex-row flex-wrap gap-2">
  {
    label.length > 0 && <span class="my-auto mr-2 font-display">{label}</span>
  }
  {
    techs.split(' ').map((tech) => (
      <StyledSVG
        key={tech}
        src={`badges/${tech}`}
        height="2rem"
        width="2rem"
        alt={tech}
        id={`${tech}-svg`}
      />
    ))
  }
</span>
