---
import ProjectTechs from '@components/ProjectTechs.astro';

import BasicPageLayout from "./BasicPageLayout.astro";

import '@styles/markdown.css';

const { frontmatter } = Astro.props;
---
<BasicPageLayout
  title={frontmatter.title}
  style="flex flex-col items-center"
>
  <section class="project-content w-full text-foreground lg:w-auto">
    <p class='mx-auto mb-3 mt-2 text-center font-handwriting text-5xl font-bold lg:mb-7 lg:mt-5 lg:text-7xl'>{frontmatter.title}</p>
    <img
      src={`/assets/thumbnails/${frontmatter.image}`}
      class="mx-auto my-4 max-h-48 lg:my-8 lg:max-h-96"
    />
    <div class="flex w-full flex-col gap-2 lg:flex-row lg:items-center">
      <ProjectTechs 
        techs={frontmatter.techs}
        label="Tech stack:"
      />
      <div class="flex flex-row items-center justify-center mr-auto lg:ml-auto lg:mr-0">
        Date:
        <span class="ml-2 font-body text-sm">{frontmatter.date}</span>
      </div>
    </div>
    <hr class="my-2 w-full lg:my-4"/>
    <main class="lg:px-10 font-body" id="project-content">
      <slot/>
    </main>
  </section>
  <div class="flex flex-row justify-between w-full lg:mt-4 mt-2">
    <button class="hover:-translate-x-2">
      <a href="/projects" class="mt-10 font-handwriting text-2xl">
        Go back
      </a>
    </button>
    <button
    >
      <a href={frontmatter.link} class="font-handwriting text-2xl lg:text-4xl">
        Check it out
      </a>
    </button>
  </div>
</BasicPageLayout>
